# Environment
.venv
venv/
.env
env/

# DB
*.sqlite3

# Cache and logs
__pycache__/
*.log

# vscode
.vscode/

# Media and staticfiles
fakedata/media/csv/*
!fakedata/media/csv/.gitkeep
fakedata/staticfiles/*
!fakedata/staticfiles/.gitkeep


# Mac
.DS_Store
._.DS_Store
.AppleDouble
